<div>
    <h3>{{ formText }} <small>You can <a href="mailto:{{ supportEmail }}?subject={{ directEmailSubject }}">contact us directly</a>, or submit an error report below.</small></h3>

    <form id="error-report-form" class="form-stacked span10 offset3" method="POST" action="{{ path(formRoute) }} {{ form_enctype(errorReportForm) }}">
        {% if form_errors(errorReportForm) %}
            <div class="alert-message">{{ form_errors(errorReportForm) }}</div>
        {% endif %}
         <fieldset>
        {% if not is_granted('ROLE_USER') %}
            <div class="clearfix">
                {{ form_label(errorReportForm.writerEmail) }}
                <div class="input">
                    {{ form_widget(errorReportForm.writerEmail, { 'attr': {'class': 'span10'} }) }}
                </div>
            </div><!-- /clearfix -->
        {% endif %}

        <div class="clearfix">
            {{ form_label(errorReportForm.content) }}
            <div class="input">
                {{ form_widget(errorReportForm.content, { 'attr': {'class': 'span10'} }) }}
            </div>
        </div><!-- /clearfix -->
        </fieldset>

        {{ form_rest(errorReportForm) }}

        <div class="actions">
            <input type="submit" formnovalidate="formnovalidate"  class="btn large primary" value="Submit" />
        </div>

    </form>
</div>
