<div>
    <h3>{{ formText }} <small>You can <a href="mailto:{{ supportEmail }}?subject={{ directEmailSubject }}">contact us directly</a>, or submit an error report below.</small></h3>
    <form id="error-report-form" class="form-stacked span8" method="POST" action="{{ path(formRoute) }} {{ form_enctype(errorReportForm) }}">
        {% if form_errors(errorReportForm) %}
            <div class="alert-message">
                {{ form_errors(errorReportForm) }}
            </div>
        {% endif %}
         <fieldset>
        {% if not is_granted('ROLE_USER') %}
            {{ form_label(errorReportForm.writerEmail) }}
            {{ form_widget(errorReportForm.writerEmail, { 'attr': {'class': 'span8'} }) }}
        {% endif %}

        <div class="clearfix">
            {{ form_label(errorReportForm.content) }}
            {{ form_widget(errorReportForm.content, { 'attr': {'class': 'span8'} }) }}
                
            {% if form_errors(errorReportForm.content) %}
                <div class="alert-message">
                    {{ form_errors(errorReportForm.content) }}                    
                </div>
            {% endif %}
 
        </div><!-- /clearfix -->
        </fieldset>

        {{ form_rest(errorReportForm) }}

        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Submit" />
        </div>
    </form>
    <div style="clear: both; line-height: 0px;">&nbsp;</div>
</div>
