{% extends base_layout %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/ccetcerrorreport/form.css') }}" type="text/css" media="all">
{% endblock %}

{% block breadcrumb %}
    <img src="{{ asset('bundles/ccetcerrorreport/images/Help.png') }}" />
    Help
{% endblock %}


{% block content %}

{% if heading_block is not defined%}
    <img src="{{ asset('bundles/ccetcerrorreport/images/Help.png') }}" />
    Help
{% endif %}

<div class="help">
  <div class="temp_help">
    <h2>Having trouble with something?</h2>
    <span>You can <a href="mailto:{{ supportEmail }}">contact us directly</a> with a question, or submit an error report below.</span>
  </div>


  <div class="error_form_heading content_container">
    Error Report
    <div class="clear"></div>
  </div>

  <div class="general_error_report content_container">

    <form id="submit_report" class="standard" method="POST" action="{{ path('help') }} {{ form_enctype(errorReportForm) }}">
      
      {{ form_widget(errorReportForm) }}
      
      <input type="submit" class="button large" value="Submit" />

    </form>
    <div class="clear"></div>
  </div>

</div>
{% endblock %}