{% extends base_layout %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% if includeBreadcrumb %}
        {% block breadcrumb %}
            Help
        {% endblock %}
{% endif %}

{% block content %}
    <div class="row">
        <div class="span16">
        {% if not includeBreadcrumb %}
            <h1>
                Help
            </h1>
        {% endif %}

        <h3>Having trouble with something?        <small>You can <a href="mailto:{{ supportEmail }}">contact us directly</a> with a question, or submit an error report below.</small></h3>
        </div>
    </div>

    <div class="row">
        <form id="error-report-form" class="form-stacked span10 offset3" method="POST" action="{{ path(formRoute) }} {{ form_enctype(errorReportForm) }}">
            {% if form_errors(errorReportForm) %}
                <div class="alert-message">{{ form_errors(errorReportForm) }}</div>
            {% endif %}
             <fieldset>
            {% if not is_granted('ROLE_USER') %}
                <div class="clearfix">
                    {{ form_label(errorReportForm.email) }}
                    <div class="input">
                        {{ form_widget(errorReportForm.email, { 'attr': {'class': 'span10'} }) }}
                    </div>
                </div><!-- /clearfix -->
            {% endif %}

            <div class="clearfix">
                {{ form_label(errorReportForm.content) }}
                <div class="input">
                    {{ form_widget(errorReportForm.content, { 'attr': {'class': 'span10'} }) }}
                </div>
            </div><!-- /clearfix -->
            </fieldset>

            {{ form_rest(errorReportForm) }}
            
            <div class="actions">
                <input type="submit" class="btn large primary" value="Submit" />
            </div>

        </form>
    </div>
{% endblock %}